<div class="container">
    <div class="row p-2" *ngFor="let challenge of challenges">
        <div class="col-sm">
            <span> <a routerLink="challenge/{{challenge.id}}"> {{ challenge.name }} </a></span>
        </div>
        <div class="col-sm">
            <a routerLink="ranking/{{challenge.id}}"> Ranking </a>
        </div>
        <div class="col-sm" *ngIf="athleteInfoAvailable()">
            <button type="button" class="btn btn-primary" [disabled]="belongsTo(challenge)" (click)="join(challenge)">
                Join
            </button>
        </div>
        <div class="col-sm" *ngIf="athleteInfoAvailable()">
            <button type="button" class="btn btn-primary" (click)="leave(challenge)">Leave</button>
        </div>
        <div class="col-sm">
            <a *ngIf="athleteInfoAvailable() && owns(challenge)" type="button" class="btn btn-primary"
               routerLink="edit/{{challenge.id}}">Edit</a>
        </div>
    </div>
</div>
