<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{name}} active from {{startDate | date:'yyyy-MM-dd HH:mm'}}
            to {{endDate | date:'yyyy-MM-dd HH:mm'}}
        </h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Created by</th>
                        <td>{{challenge?.createdBy.firstname}} {{challenge?.createdBy.lastname}}</td>
                    </tr>
                    <tr>
                        <th>Segments</th>
                        <td>
                            <table class="table">
                                <tr *ngFor="let segment of challenge?.segments">{{segment.name}}</tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>Athletes</th>
                        <td>
                            <table class="table">
                                <tr *ngFor="let athlete of challenge?.athletes">{{athlete.firstname}} {{athlete.lastname}}</tr>
                            </table>
                    </tr>
                </table>
                <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
            </div>

        </div>
    </div>
</div>
