<h2>{{challenge.name}} Challenge Ranking</h2>
<h5>active from {{challenge.startDate |  date:'yyyy-MM-dd'}} until {{challenge.endDate| date:'yyyy-MM-dd'}}</h5>
<mat-list>
    <mat-list-item *ngFor="let result of athleteResults">
        <img matListAvatar src="{{result.athlete.profile}}">
        <h2 matLine> {{result.athlete.firstname}} {{result.athlete.lastname}}</h2>
        <h2 matLine> Total time: {{formatSeconds(result.totalTime)}}</h2>
        <h2 matLine> Completed segments: {{result.completedSegments}}</h2>
        <h2 matLine> Segments results:
            <div matLine *ngFor="let effort of result.efforts">
                {{effort.name}}: {{ formatSeconds(effort.elapsedTime)}} completed {{effort.startDate}}
            </div>
        </h2>
    </mat-list-item>
</mat-list>


