<h2>Ranking</h2>
<mat-list>
    <mat-list-item *ngFor="let effort of efforts">
        <img matListAvatar src="{{effort.athlete.profile}}">
        <h2 matLine> {{effort.athlete.firstname}} {{effort.athlete.lastname}}</h2>
        <h2 matLine>Total seconds: {{formatSeconds(effort.challengeResult())}}</h2>
        <h2 matLine> Segments results:
            <div matLine *ngFor="let segment of effort.bestSegmentEfforts">
                {{segment.name}}: {{ formatSeconds(segment.elapsedTime)}}
            </div>
        </h2>
    </mat-list-item>
</mat-list>


